/* Layout */
body {
   margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;

}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;

}

.left {
  width: 25%;
}

.mainContent {
  /* flex-grow: 1;
  text-align: center;
  background-color: whitesmoke; */

  background-color: whitesmoke;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Take full size */
  height: 65vh;
  width: 70%;

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);


}

.right {
  width: 25%;

}

.footer {

}

/* Elements */

.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  opacity: 75%;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index:  -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */

  }
}



.italic {
  font-style: italic;
  color: red;
}

.wrongTxt {
  color: red;
  padding: 1;
}

.correctTxt {
  color: green;
  padding: 5;
}

.display-linebreak {
  white-space: pre-line;
}

.blue-border{
  border: solid 3px #103f81;
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: auto;
}

p {
  margin: 0px;
  padding: 0px;
}

